body {
    /*Afecta a todo el documento*/
    height: 100%; /* Asegura que ocupen toda la pantalla */
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column; /* Organiza los elementos en columna */
    justify-content: space-between; /* Espacia bien los elementos */
    align-items: center; /* Centra los elementos horizontalmente */

    background-image: url(../imagenes/Fondo-Estilos-1.jpg);
    background-size: cover;  /* Ajusta la imagen para cubrir toda la pantalla */
    background-position: center;  /* Centra la imagen */
    background-repeat: no-repeat;  /* Evita que la imagen se repita */
    background-attachment: fixed; /* Mantiene la imagen fija al hacer scroll (opcional) */
}

.Contenido {
    background-color: rgba(0, 0, 0, 0.601);
    border-radius: 5px;
    padding: 10px 20px;
    max-width: 600px; /* Nunca será más ancho de 600px */
}

h1 {
    font-size: 4rem;
    font-style:normal;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration-line: underline;
    text-decoration-color: rgb(0, 0, 0);
    color: rgb(210, 58, 58); /* Color del texto */
    text-shadow: 
    -2px -2px 0 white,  
    2px -2px 0 white,
    -2px  2px 0 white,
    2px  2px 0 white; /* Sombras en 4 direcciones */
}

.Titulo {
    background-color: rgba(255, 0, 0, 0.6);
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 0px;
    font-style:2rem;
    text-decoration: underline;
    text-decoration-color: black;
    font-family:Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.875); /* Color del texto */
    text-shadow: 
    -1px -1px 0 white,  
    1px -1px 0 white,
    -1px  1px 0 white,
    1px  1px 0 white; /* Sombras en 4 direcciones */
}

.Descripcion {
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px 10px; /* Espaciado para que se vea bien */
    display: inline-block; /* Ajuste al tamaño del texto */
    
    width: 80%;  /* Ocupará el 80% de la pantalla en pantallas pequeñas */
    max-width: 600px; /* Nunca será más ancho de 600px */
    
    margin: 20px auto; /* Centra el texto horizontalmente */
    text-align: justify; /* Justifica el texto */
}